<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>829840341766-ujgc32of7ue9j624k5e4u3rm4t7lrmgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829840341766-ujgc32of7ue9j624k5e4u3rm4t7lrmgf</string>
	<key>API_KEY</key>
	<string>AIzaSyB_QSNpqTYgfF2DVVq-mU-oku6UFqNb0Qo</string>
	<key>GCM_SENDER_ID</key>
	<string>829840341766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.atsushi.SwiftMemory</string>
	<key>PROJECT_ID</key>
	<string>swiftmemory-4aa76</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftmemory-4aa76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829840341766:ios:5abe11c2875993e3</string>
	<key>DATABASE_URL</key>
	<string>https://swiftmemory-4aa76.firebaseio.com</string>
</dict>
</plist>